<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="author" content="zooduck">
        <link rel="manifest" href="./manifest.json">
        <title>ZOOBINARY</title>
    </head>
    <body id="zoobinary">


        <!-- svg -->
        <svg width="0" height="0" style="display: none;">
            <defs>
                <g id="zoobinaryIcon">
                    <rect x="0" y="0" width="5" height="25" class="zoobinary__header__logo__icon__rect__up" />
                    <rect x="5" y="0" width="5" height="5" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="10" y="5" width="5" height="2.5" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="15" y="7.5" width="5" height="10" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="20" y="10" width="5" height="7.5" class="zoobinary__header__logo__icon__rect__up" />
                    <rect x="25" y="0" width="5" height="10" class="zoobinary__header__logo__icon__rect__up" />
                    <rect x="30" y="0" width="5" height="20" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="35" y="20" width="5" height="1.25" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="40" y="21.25" width="5" height="3.525" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="45" y="0" width="5" height="25" class="zoobinary__header__logo__icon__rect__up" />
                </g>           
            </defs>
        </svg>
        <!-- // -->                            


        <!-- templates -->
        <!-- // -->


        <!-- loading screen -->
        <!-- // -->
       
        
        <!-- alert -->
        <!-- // -->




        <div class="zoobinary__sidebar">            
            <div>
                <i class="ion-md-settings zoobinary__sidebar__icon"></i>
            </div>
        </div>

        <div class="zoobinary__settings-container">
            <div class="zoobinary__settings-container__setting">
                <form class="zoobinary__settings-container__form" id="zoobinaryForm_setCapital">
                    <label for="zoobinaryFormInput_capital">CAPITAL</label>
                    <input id="zoobinaryFormInput_capital" name="capital" type="text" />
                </form>
                <button id="zoobinaryFormCtrl_setCapital">set capital</button>
            </div>
            <div class="zoobinary__settings-container__setting">
                <form class="zoobinary__settings-container__form" id="zoobinaryForm_setBrokerReturn">
                    <label for="zoobinaryFormInput_brokerReturn">BROKER RETURN</label>
                    <input id="zoobinaryFormInput_brokerReturn" name="brokerReturn" type="text" />
                </form>
                <button id="zoobinaryFormCtrl_setBrokerReturn">set broker return</button>
            </div> 
            <div class="zoobinary__settings-container__setting">
                <form class="zoobinary__settings-container__form" id="zoobinaryForm_setMartingales">
                    <label for="zoobinaryFormInput_martingales">MARTINGALES</label>
                    <input id="zoobinaryFormInput_martingales" name="martingales" type="text" />
                </form>
                <button id="zoobinaryFormCtrl_setMartingales">set martingales</button>
            </div>
            
        </div> 




        <div class="zoobinary__flexbox_container">

            <div class="zoobinary__header">                
                <div class="zoobinary__header__logo">
                  
                    <!-- <img class="zoobinary__header__logo__icon_img" src="../img/iconmonstr-chart-6.svg" />  -->                        
                  
                   <!--  <svg width="50" height="25" class="zoobinary__header__logo__icon">
                        <use xlink:href="#zoobinaryIcon" x="0" y="0" />
                    </svg> -->



                    <div class="zoobinary__header__logo__title">
                        <!-- <ion-icon class="ion-md-trending-up"></ion-icon> -->
                        <span>ZOOBINARY</span>                        
                    </div>
                    <!-- <div class="zoobinary__header__logo__desc">Martingale Calculator for Binary Options</div> -->
                </div>
               <!--  <div class="zoobinary__header__item">
                    <span class="zoobinary__header__item__key__martingale">MARTINGALE</span>
                    <span class="zoobinary__header__item__val">6</span>
                </div>
                <div class="zoobinary__header__item">
                    <span class="zoobinary__header__item__key__return">RETURN</span>
                    <span class="zoobinary__header__item__val">85%</span>
                </div> -->
                <div class="zoobinary__header__item__capital">
                    <div class="zoobinary__header__item__key"><!-- CAPITAL --></div>
                    <!-- <div class="zoobinary__header__item__capital__key" data-bind="betData.capital"></div> -->
                    <div class="zoobinary__header__item__capital__key" data-bind="view.header.capital"></div>
                    <!-- <div class="zoobinary__header__item__capital__val">+1.00%</div> -->
                </div>
            </div>
        </div>




        <div class="zoobinary__flexbox_container__panel three-dimensional">
            <div class="zoobinary__panel_main left">
                <div class="zoobinary__panel_main__item martingales">
                    <div class="zoobinary__panel_main__item__val">
                        <span class="current-martingale" data-bind="view.bet.martingaleIterationNumber"></span>
                        <span class="total-martingales">/</span>
                        <span class="total-martingales" data-bind="view.bet.martingales"></span>
                    </div>
                </div>
            </div>
            <div class="zoobinary__panel_main right">
                <div class="zoobinary__panel_main__item bet">
                    <div class="zoobinary__panel_main__item__key__bet"><!--<i class="ion-md-pricetags"></i>--><i class="fa fa-area-chart"></i></div>
                    <div class="zoobinary__panel_main__item__val__bet" data-bind="view.bet.currency"></div>
                </div>
                <div class="zoobinary__panel_main__item win"> 
                   <div class="zoobinary__panel_main__item__key"><i class="ion-md-happy"></i></div>
                    <div class="zoobinary__panel_main__item__val" data-bind="view.bet.win"></div>
                </div>
                <div class="zoobinary__panel_main__item lose">
                    <div class="zoobinary__panel_main__item__key"><i class="ion-md-sad"></i></div>
                    <div class="zoobinary__panel_main__item__val" data-bind="view.bet.lose"></div>
                </div>
            </div>
        </div>






        <!-- super container -->
        <div class="super-container">

            <!-- <header>
                <div>HEADER...</div>
            </header>

            <content>
                <div>CONTENT...</div>
                <div>IMG TEST:</div>
                <img src=".././img/example.jpg" alt="example.jpg" />
                <div>HREF IMAGE TEST:</div>
                <div>
                    <a href=".././img/example.jpg" target="_blank">example.jpg</a>
                </div>
            </content>    -->
            
        </div> <!-- .super-container -->






    </body>
</html>
