<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="author" content="zooduck">
        <link rel="manifest" href="./manifest.json">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>ZOOBINARY</title>
    </head>
    <body id="zoobinary">


        <!-- svg -->
        <svg width="0" height="0" style="display: none">
            <defs>
                <g id="zoobinaryIcon">
                    <rect x="0" y="0" width="5" height="25" class="zoobinary__header__logo__icon__rect__up" />
                    <rect x="5" y="0" width="5" height="5" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="10" y="5" width="5" height="2.5" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="15" y="7.5" width="5" height="10" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="20" y="10" width="5" height="7.5" class="zoobinary__header__logo__icon__rect__up" />
                    <rect x="25" y="0" width="5" height="10" class="zoobinary__header__logo__icon__rect__up" />
                    <rect x="30" y="0" width="5" height="20" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="35" y="20" width="5" height="1.25" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="40" y="21.25" width="5" height="3.525" class="zoobinary__header__logo__icon__rect__down" />
                    <rect x="45" y="0" width="5" height="25" class="zoobinary__header__logo__icon__rect__up" />
                </g>
            </defs>
        </svg>
        <!-- // svg -->


        <!-- templates -->
        <!-- // templates -->


        <!-- loading-screen -->
        <!-- // loading-screen -->


        <!-- alert -->
        <!-- // alert -->



        <div class="zoobinary__panel__main" id="main">

           <!--  <div class="subpanel-A">
                <i class="material-icons md-48 md-light">menu</i>
            </div> -->

            <div class="subpanel-B">

                <div class="subpanel-C light">
                    <i class="ctrl material-icons md-36 md-dark" id="ctrl__menu__toggle">person_outline</i>
                    <span class="item title">ZOOBINARY</span>
                    <div class="item capital">
                      <i class="material-icons md-36 md-dark">account_balance</i>
                      <span data-bind="view.header.capital"></span>
                    </div>
                </div>

                <div class="subpanel-D">
                    <div class="item">
                        <span>Broker Return</span>
                        <span data-bind="settings.brokerReturn * 100 + '%'"></span>
                    </div>
                    <div class="item">
                        <span>Martingales</span>
                        <span data-bind="settings.martingales"></span>
                    </div>
                </div>

                <div class="subpanel-E">

                    <div class="subpanel-F" id="main__martingaleCounters">
                        <span class="current-martingale" data-bind="view.bet.martingaleIterationNumber"></span>
                        <span class="total-martingales">/</span>
                        <span class="total-martingales" data-bind="view.bet.martingales"></span>
                    </div>

                    <div class="subpanel-G">

                        <div class="item bet">
                            <div>
                                <i class="material-icons md-light md-48">stars</i>
                                <span>BET</span>
                            </div>
                            <div data-bind="view.bet.currency"></div>
                        </div>

                        <div class="item win">
                            <div>
                                <i class="material-icons md-light md-48">sentiment_very_satisfied</i>
                                <span>WIN</span>
                            </div>
                            <div data-bind="view.bet.win"></div>
                        </div>

                        <div class="item lose">
                            <div>
                                <i class="material-icons md-light md-48">sentiment_very_dissatisfied</i>
                                <span>LOSE</span>
                            </div>
                            <div data-bind="view.bet.lose"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div><!-- // zoobinary__panel__main -->



        <!-- /\/\/\/\ -->
        <!-- SETTINGS -->
        <!-- /\/\/\/\ -->

        <div class="zoobinary__panel__settings" id="settings">
            <div class="subpanel-A">
                <div class="header">
                    <span class="title">SETTINGS</span>
                    <button type="button" id="ctrl__settings__toggle">
                      <i class="ctrl material-icons md-light" >close</i>
                    </button>
                </div>
            </div>
            <div class="subpanel-B">
                <div class="header">
                    <span class="title">BASIC</span>
                    <button type="button" id="ctrl__settings__basic__toggle">
                      <i class="ctrl material-icons md-light">expand_more</i>
                    </button>
                </div>
                <div class="items active" id="settings__basic">
                    <form class="item">
                        <label for="ctrl__settings__basic__capital">Capital</label>
                        <span class="desc">Your current balance</span>
                        <input
                            type="text"
                            name="capital"
                            id="ctrl__settings__basic__capital"
                            placeholder="1985.19"
                            data-bind="settings.capital">
                    </form>
                    <form class="item">
                        <label for="ctrl__settings__basic__brokerReturn">Broker Return</label>
                        <span class="desc">The amount of return (as a percentage) that your broker will payout for a successful bet.</span>
                        <input
                            type="text"
                            name="brokerReturn"
                            id="ctrl__settings__basic__brokerReturn"
                            placeholder="0.85"
                            data-bind="settings.brokerReturn">
                    </form>
                    <form class="item">
                        <label for="ctrl__settings__basic__martingales">Martingales</label>
                        <span class="desc">The maximum number of martingales (failed bets) that you want to accomodate. Higher values = lower risk, lower payout. Lower values = Higher risk, Higher payout.</span>
                        <input
                            type="text"
                            name="martingales"
                            id="ctrl__settings__basic__martingales"
                            placeholder="5"
                            data-bind="settings.martingales">
                    </form>
                </div>
            </div>
            <div class="subpanel-C">
                 <div class="header">
                    <span class="title">ADVANCED</span>
                    <button type="button" id="ctrl__settings__advanced__toggle">
                      <i class="ctrl material-icons md-light">expand_more</i>
                    </button>
                </div>
                <div class="items" id="settings__advanced">
                    <div class="item">
                        <label for="open__SET">Open</label>
                        <span class="desc">Set this to enable charts and stats</span>
                        <input
                            type="text"
                            name="open"
                            id="open__SET"
                            placeholder="250.00"
                            data-bind="settings.open">
                    </div>
                    <div class="item">
                        <label for="roundUp__SET">Round-up bets</label>
                        <span class="desc">Round up bets to nearest single unit of currency (Recommended)</span>
                        <input type="checkbox" data-checked="settings.roundUpBets">
                    </div>
                </div>
            </div>
            <div class="subpanel-D">
                <div class="header">
                    <span class="title">MARTINGALES DETAIL</span>
                    <button type="button" id="ctrl__settings__martingalesDetail__toggle">
                      <i class="ctrl material-icons md-light">expand_more</i>
                    </button>
                </div>
                 <div class="items active" id="settings__martingalesDetail">
                    <div class="item" data-template="data.martingaleBets" data-template-item="bet">
                        <div>
                          <span>Bet:</span>
                          <span data-template-bind="bet.index + 1">
                        </div>
                        <span>currencyFloat:</span>
                        <span data-template-bind="bet.currencyFloat"></span>
                        <span>currencyFloatReturnNet:</span>
                        <span data-template-bind="bet.currencyFloatReturnNet"></span>
                        <span>percentFloatTotal:</span>
                        <span data-template-bind="bet.percentFloatTotal"></span>
                    </div>
                 </div>
            </div>
            <div class="footer"></div>
        </div><!-- // zoobinary__panel__settings -->




















        <div class="zoobinary__settings-container" style="display: none;">
            <div class="zoobinary__settings-container__setting">
                <form class="zoobinary__settings-container__form" id="zoobinaryForm_setCapital">
                    <label for="zoobinaryFormInput_capital">CAPITAL</label>
                    <input id="zoobinaryFormInput_capital" name="capital" type="text" />
                </form>
                <button id="zoobinaryFormCtrl_setCapital">set capital</button>
            </div>
            <div class="zoobinary__settings-container__setting">
                <form class="zoobinary__settings-container__form" id="zoobinaryForm_setBrokerReturn">
                    <label for="zoobinaryFormInput_brokerReturn">BROKER RETURN</label>
                    <input id="zoobinaryFormInput_brokerReturn" name="brokerReturn" type="text" />
                </form>
                <button id="zoobinaryFormCtrl_setBrokerReturn">set broker return</button>
            </div>
            <div class="zoobinary__settings-container__setting">
                <form class="zoobinary__settings-container__form" id="zoobinaryForm_setMartingales">
                    <label for="zoobinaryFormInput_martingales">MARTINGALES</label>
                    <input id="zoobinaryFormInput_martingales" name="martingales" type="text" />
                </form>
                <button id="zoobinaryFormCtrl_setMartingales">set martingales</button>
            </div>
        </div> <!-- // zoobinary__settings-container -->




    </body>
</html>
