$background-color-base: #333;
$font-family-base: calibri, sans-serif;
$font-size-base-standard: 16px;
$font-size-base-mobile: 11px;
$font-weight-base: normal;
$color-base: #eee;

$icon-base: #555;

$monitor-black: #222;
$monitor-green: #40e240;
$monitor-font-family: monospace, sans-serif;

$error-background-color: tomato;
$success-background-color: cornflowerblue;